################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

.vs/
[Dd]ebug/
[Rr]elease/
*.user
*.suo
/doc/html/