body { background-color: #f4f7f6; font-family: sans-serif; }
.card { border-radius: 12px; transition: transform 0.2s; }

/* Animation pour l'arrêt du véhicule */
.critical-alert {
    color: #e74c3c !important;
    font-weight: bold;
    animation: blinker 1s linear infinite;
}

@keyframes blinker { 50% { opacity: 0; } }

#video-feed { background-color: #000; min-height: 300px; width: 100%; }

#txt-obstacle { font-size: 28px; margin-top: 10px; }